## GMAIL INBOX DATA CLEANING

### Opening CSV file to check the raw data collected through web scrapping

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

def get_part_of_day(time_str):
    if time_str >= '05:00:00' and time_str < '12:00:00':
        return 'Morning'
    elif time_str >= '12:00:00' and time_str < '17:00:00':
        return 'Afternoon'
    elif time_str >= '17:00:00' and time_str < '21:00:00':
        return 'Evening'
    else:
        return 'Night'

email_data=pd.read_csv("email_data_2k.csv")
email_data.head(5)

,Title,Sender,Sender Email,Date
0,"Cornel West Is a Great Presidential Candidate,...",Medium Daily Digest <noreply@medium.com>,noreply@medium.com,"Mon, 12 Jun 2023 02:10:00 +0000 (UTC)"
1,=?utf-8?B?RmFzdCBmaXhlcyBmb3IgYnVzeSBwZW9wbGUu?=,"""Adobe Acrobat"" <mail@mail.adobe.com>",mail@mail.adobe.com,"Sun, 11 Jun 2023 17:20:39 -0700"
2,=?utf-8?Q?Your_curated_list_of_fresher_jobs_&_...,"""Varsha from Prosple"" <varsha@prosple.com>",varsha@prosple.com,"Sun, 11 Jun 2023 19:23:34 -0500"
3,=?UTF-8?Q?SUPER_PRICE_DROP_on_Flights_Tickets_...,Goibibo <noreply@content.goibibo.com>,noreply@content.goibibo.com,"Sun, 11 Jun 2023 13:26:28 +0530"
4,=?UTF-8?Q?=E2=80=9Cdata_analyst=E2=80=9C:_30+_...,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,jobalerts-noreply@linkedin.com,"Sun, 11 Jun 2023 04:38:41 +0000 (UTC)"

### Title column is dropped as it serves no useful information

In [2]:
email_data1=email_data.drop('Title',axis=1)
email_data1.head(5)

,Sender,Sender Email,Date
0,Medium Daily Digest <noreply@medium.com>,noreply@medium.com,"Mon, 12 Jun 2023 02:10:00 +0000 (UTC)"
1,"""Adobe Acrobat"" <mail@mail.adobe.com>",mail@mail.adobe.com,"Sun, 11 Jun 2023 17:20:39 -0700"
2,"""Varsha from Prosple"" <varsha@prosple.com>",varsha@prosple.com,"Sun, 11 Jun 2023 19:23:34 -0500"
3,Goibibo <noreply@content.goibibo.com>,noreply@content.goibibo.com,"Sun, 11 Jun 2023 13:26:28 +0530"
4,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,jobalerts-noreply@linkedin.com,"Sun, 11 Jun 2023 04:38:41 +0000 (UTC)"

In [3]:
email_data1[['Firm','Email']] = email_data1['Sender'].str.split('<',expand=True)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: x.replace('"',''))
email_data1['noreply'] = email_data1['Sender Email'].apply(lambda x: 1 if 'noreply' in x.lower() else 0)
email_data1.head(5)

,Sender,Sender Email,Date,Firm,Email,noreply
0,Medium Daily Digest <noreply@medium.com>,noreply@medium.com,"Mon, 12 Jun 2023 02:10:00 +0000 (UTC)",Medium Daily Digest,noreply@medium.com>,1
1,"""Adobe Acrobat"" <mail@mail.adobe.com>",mail@mail.adobe.com,"Sun, 11 Jun 2023 17:20:39 -0700",Adobe Acrobat,mail@mail.adobe.com>,0
2,"""Varsha from Prosple"" <varsha@prosple.com>",varsha@prosple.com,"Sun, 11 Jun 2023 19:23:34 -0500",Varsha from Prosple,varsha@prosple.com>,0
3,Goibibo <noreply@content.goibibo.com>,noreply@content.goibibo.com,"Sun, 11 Jun 2023 13:26:28 +0530",Goibibo,noreply@content.goibibo.com>,1
4,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,jobalerts-noreply@linkedin.com,"Sun, 11 Jun 2023 04:38:41 +0000 (UTC)",LinkedIn Job Alerts,jobalerts-noreply@linkedin.com>,1

In [4]:
email_data1[['Day','Time']]=email_data1['Date'].str.split(',',expand=True)
email_data1.rename(columns={'Date':'Date_ext'},inplace=True)
email_data1.head()

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time
0,Medium Daily Digest <noreply@medium.com>,noreply@medium.com,"Mon, 12 Jun 2023 02:10:00 +0000 (UTC)",Medium Daily Digest,noreply@medium.com>,1,Mon,12 Jun 2023 02:10:00 +0000 (UTC)
1,"""Adobe Acrobat"" <mail@mail.adobe.com>",mail@mail.adobe.com,"Sun, 11 Jun 2023 17:20:39 -0700",Adobe Acrobat,mail@mail.adobe.com>,0,Sun,11 Jun 2023 17:20:39 -0700
2,"""Varsha from Prosple"" <varsha@prosple.com>",varsha@prosple.com,"Sun, 11 Jun 2023 19:23:34 -0500",Varsha from Prosple,varsha@prosple.com>,0,Sun,11 Jun 2023 19:23:34 -0500
3,Goibibo <noreply@content.goibibo.com>,noreply@content.goibibo.com,"Sun, 11 Jun 2023 13:26:28 +0530",Goibibo,noreply@content.goibibo.com>,1,Sun,11 Jun 2023 13:26:28 +0530
4,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,jobalerts-noreply@linkedin.com,"Sun, 11 Jun 2023 04:38:41 +0000 (UTC)",LinkedIn Job Alerts,jobalerts-noreply@linkedin.com>,1,Sun,11 Jun 2023 04:38:41 +0000 (UTC)

### 'Time' column contains information like Date, Month, Year, Time and leadtime as per time zone. The mentioned informations are split into different columns

In [5]:
email_data1['Time'].str.strip()
split_data = email_data1['Time'].str.split(' ', n=3, expand=True)
# Assign split values to new columns
#email_data2['Date'] = split_data[0]
email_data1['Date'] = split_data[1]
email_data1['Month'] = split_data[2]
email_data1['Time'] = split_data[3]
email_data1.head(5)

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time,Date,Month
0,Medium Daily Digest <noreply@medium.com>,noreply@medium.com,"Mon, 12 Jun 2023 02:10:00 +0000 (UTC)",Medium Daily Digest,noreply@medium.com>,1,Mon,2023 02:10:00 +0000 (UTC),12,Jun
1,"""Adobe Acrobat"" <mail@mail.adobe.com>",mail@mail.adobe.com,"Sun, 11 Jun 2023 17:20:39 -0700",Adobe Acrobat,mail@mail.adobe.com>,0,Sun,2023 17:20:39 -0700,11,Jun
2,"""Varsha from Prosple"" <varsha@prosple.com>",varsha@prosple.com,"Sun, 11 Jun 2023 19:23:34 -0500",Varsha from Prosple,varsha@prosple.com>,0,Sun,2023 19:23:34 -0500,11,Jun
3,Goibibo <noreply@content.goibibo.com>,noreply@content.goibibo.com,"Sun, 11 Jun 2023 13:26:28 +0530",Goibibo,noreply@content.goibibo.com>,1,Sun,2023 13:26:28 +0530,11,Jun
4,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,jobalerts-noreply@linkedin.com,"Sun, 11 Jun 2023 04:38:41 +0000 (UTC)",LinkedIn Job Alerts,jobalerts-noreply@linkedin.com>,1,Sun,2023 04:38:41 +0000 (UTC),11,Jun

### Columns are checked for data ambiguity and null cells, looks like some rows haven't splitted properly

In [6]:
email_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sender        2000 non-null   object
 1   Sender Email  2000 non-null   object
 2   Date_ext      2000 non-null   object
 3   Firm          2000 non-null   object
 4   Email         1952 non-null   object
 5   noreply       2000 non-null   int64
 6   Day           2000 non-null   object
 7   Time          1994 non-null   object
 8   Date          1994 non-null   object
 9   Month         1994 non-null   object
dtypes: int64(1), object(9)
memory usage: 156.4+ KB

In [7]:
email_data1[email_data1['Date'].isnull()]

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time,Date,Month
461,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 19:18:03 +0530,noreply.npcilcareers@nic.in,None,1,25 Apr 2023 19:18:03 +0530,None,None,None
463,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 18:45:48 +0530,noreply.npcilcareers@nic.in,None,1,25 Apr 2023 18:45:48 +0530,None,None,None
523,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,18 Apr 2023 15:43:38 +0530,noreply.npcilcareers@nic.in,None,1,18 Apr 2023 15:43:38 +0530,None,None,None
576,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,12 Apr 2023 19:07:15 +0530,noreply.npcilcareers@nic.in,None,1,12 Apr 2023 19:07:15 +0530,None,None,None
1345,6EGSTInvoice@goindigo.in,6EGSTInvoice@goindigo.in,15 Jan 2023 00:58:49 +0530,6EGSTInvoice@goindigo.in,None,0,15 Jan 2023 00:58:49 +0530,None,None,None
1353,6EGSTInvoice@goindigo.in,6EGSTInvoice@goindigo.in,14 Jan 2023 02:37:33 +0530,6EGSTInvoice@goindigo.in,None,0,14 Jan 2023 02:37:33 +0530,None,None,None

### 'Day' column checked, since there are few columns with errors , data cleaned manually

In [8]:
email_data1['Day'].value_counts()

Day
Tue                           360
Mon                           311
Fri                           297
Thu                           295
Wed                           287
Sat                           225
Sun                           219
25 Apr 2023 19:18:03 +0530      1
25 Apr 2023 18:45:48 +0530      1
18 Apr 2023 15:43:38 +0530      1
12 Apr 2023 19:07:15 +0530      1
15 Jan 2023 00:58:49 +0530      1
14 Jan 2023 02:37:33 +0530      1
Name: count, dtype: int64

In [9]:
#check index 461 row
row_461=email_data1.loc[461].copy()
row_461[['Month','Time','Date']]= ['Apr','19:18:03','25']
email_data1.loc[461] = row_461
#check index 463 row
row_463=email_data1.loc[463].copy()
row_463[['Month','Time','Date']]= ['Apr','18:45:48','25']
email_data1.loc[463] = row_463
#check index 523 row
row_523=email_data1.loc[523].copy()
row_523[['Month','Time','Date']]= ['Apr','15:43:38','18']
email_data1.loc[523] = row_523
#check index 576 row
row_576=email_data1.loc[576].copy()
row_576[['Month','Time','Date']]= ['Apr','19:07:15','12']
email_data1.loc[576] = row_576
#check index 1345 row
row_1345=email_data1.loc[1345].copy()
row_1345[['Month','Time','Date']]= ['Jan','00:58:49','15']
email_data1.loc[1345] = row_1345
#check index 1353 row        
row_1353=email_data1.loc[1353].copy()
row_1353[['Month','Time','Date']]= ['Jan','02:37:33','14']
email_data1.loc[1353] = row_1353
 
email_data1[email_data1['Sender']=='noreply.npcilcareers@nic.in']

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time,Date,Month
461,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 19:18:03 +0530,noreply.npcilcareers@nic.in,None,1,25 Apr 2023 19:18:03 +0530,19:18:03,25,Apr
463,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 18:45:48 +0530,noreply.npcilcareers@nic.in,None,1,25 Apr 2023 18:45:48 +0530,18:45:48,25,Apr
523,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,18 Apr 2023 15:43:38 +0530,noreply.npcilcareers@nic.in,None,1,18 Apr 2023 15:43:38 +0530,15:43:38,18,Apr
576,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,12 Apr 2023 19:07:15 +0530,noreply.npcilcareers@nic.in,None,1,12 Apr 2023 19:07:15 +0530,19:07:15,12,Apr

In [10]:
email_data1.loc[461, 'Day'] = email_data1.loc[460, 'Day']
email_data1.loc[463, 'Day'] = email_data1.loc[462, 'Day']
email_data1.loc[523, 'Day'] = email_data1.loc[522, 'Day']
email_data1.loc[576, 'Day'] = email_data1.loc[575, 'Day']
email_data1.loc[1345, 'Day'] = email_data1.loc[1344, 'Day']
email_data1.loc[1353, 'Day'] = email_data1.loc[1354, 'Day']
email_data1['Day'].value_counts()
email_data1[email_data1['Sender']=='noreply.npcilcareers@nic.in']

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time,Date,Month
461,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 19:18:03 +0530,noreply.npcilcareers@nic.in,None,1,Tue,19:18:03,25,Apr
463,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,25 Apr 2023 18:45:48 +0530,noreply.npcilcareers@nic.in,None,1,Tue,18:45:48,25,Apr
523,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,18 Apr 2023 15:43:38 +0530,noreply.npcilcareers@nic.in,None,1,Tue,15:43:38,18,Apr
576,noreply.npcilcareers@nic.in,noreply.npcilcareers@nic.in,12 Apr 2023 19:07:15 +0530,noreply.npcilcareers@nic.in,None,1,Wed,19:07:15,12,Apr

### 'Date' column checked, format of a few dates changed, empty cells reviewed

In [11]:
email_data1[['Date']].value_counts()

Date
22      75
10      72
24      71
20      70
13      69
21      68
27      67
23      66
28      65
25      65
17      65
11      63
12      62
14      61
15      60
30      60
16      56
29      56
18      55
26      52
07      52
19      50
04      49
09      47
06      46
08      45
03      43
05      42
01      41
02      37
8       34
9       34
6       33
7       29
31      27
4       27
1       25
5       24
3       16
2       16
         5
Name: count, dtype: int64

In [12]:
email_data1[email_data1['Date'].isnull()]

Empty DataFrame
Columns: [Sender, Sender Email, Date_ext, Firm, Email, noreply, Day, Time, Date, Month]
Index: []

In [13]:
#check index 1120 row
row_1120=email_data1.loc[1120].copy()
row_1120[['Month','Time','Date']]= ['Feb','13:33:39','8']
email_data1.loc[1120] = row_1120
#check index 1127 row
row_1127=email_data1.loc[1127].copy()
row_1127[['Month','Time','Date']]= ['Feb','08:23:51','8']
email_data1.loc[1127] = row_1127
#check index 1409 row
row_1409=email_data1.loc[1409].copy()
row_1409[['Month','Time','Date']]= ['Jan','11:50:29','8']
email_data1.loc[1409] = row_1409
#check index 1410 row
row_1410=email_data1.loc[1410].copy()
row_1410[['Month','Time','Date']]= ['Jan','11:50:29','8']
email_data1.loc[1410] = row_1410
#check index 1772 row
row_1772=email_data1.loc[1772].copy()
row_1772[['Month','Time','Date']]= ['Dec','12:19:59','2']
email_data1.loc[1772] = row_1772

email_data1[email_data1['Sender']=='ticketadmin@irctc.co.in'].head(12)

,Sender,Sender Email,Date_ext,Firm,Email,noreply,Day,Time,Date,Month
155,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Sat, 27 May 2023 09:49:34 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Sat,2023 09:49:34 +0530 (IST),27,May
491,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Fri, 21 Apr 2023 17:13:32 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Fri,2023 17:13:32 +0530 (IST),21,Apr
591,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 11 Apr 2023 14:20:59 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 14:20:59 +0530 (IST),11,Apr
708,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Mon, 27 Mar 2023 20:31:35 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Mon,2023 20:31:35 +0530 (IST),27,Mar
765,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 21 Mar 2023 20:03:16 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 20:03:16 +0530 (IST),21,Mar
931,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 28 Feb 2023 08:25:53 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 08:25:53 +0530 (IST),28,Feb
932,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 28 Feb 2023 08:18:09 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 08:18:09 +0530 (IST),28,Feb
1050,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 14 Feb 2023 10:24:38 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 10:24:38 +0530 (IST),14,Feb
1120,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Wed, 8 Feb 2023 13:33:19 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Wed,13:33:39,8,Feb
1127,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Wed, 8 Feb 2023 08:23:51 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Wed,08:23:51,8,Feb
1269,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 24 Jan 2023 12:05:11 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 12:05:11 +0530 (IST),24,Jan
1271,ticketadmin@irctc.co.in,ticketadmin@irctc.co.in,"Tue, 24 Jan 2023 11:57:22 +0530 (IST)",ticketadmin@irctc.co.in,None,0,Tue,2023 11:57:22 +0530 (IST),24,Jan

In [14]:
#email_data1['Date'] = email_data1['Date'].replace('', np.nan)
email_data1['Date']=email_data1['Date'].replace({'01':1,'02':2,'03':3,'04':4,'05':5,'06':6,'07':7,'08':8,'09':9}).astype(int)
email_data1['Date'].value_counts()

Date
8     83
9     81
7     81
6     79
4     76
22    75
10    72
24    71
20    70
13    69
21    68
27    67
1     66
23    66
5     66
17    65
25    65
28    65
11    63
12    62
14    61
30    60
15    60
3     59
29    56
16    56
18    55
2     54
26    52
19    50
31    27
Name: count, dtype: int64

### 'Time' column checked, looks like the column have different formats of time data in it. As per the string length Time is splitted and later Time format changed

In [15]:
email_data1['Time']=email_data1['Time'].str.strip()
email_data1['Timelen']=email_data1['Time'].apply(lambda x: len(x))
email_data1['Timelen'].value_counts()

Timelen
19    1230
25     739
8       11
13      10
17       6
27       3
31       1
Name: count, dtype: int64

In [16]:
desired_length= [13,17,27,31]
email_data1[['Date_ext','Day','Time','Date','Month','Timelen']][email_data1['Time'].str.len().isin(desired_length)]

,Date_ext,Day,Time,Date,Month,Timelen
32,"Thu, 8 Jun 2023 21:02:42",Thu,2023 21:02:42,8,Jun,13
45,"Wed, 07 Jun 2023 11:06:26 GMT",Wed,2023 11:06:26 GMT,7,Jun,17
60,"Tue, 6 Jun 2023 18:12:41",Tue,2023 18:12:41,6,Jun,13
328,"Tue, 9 May 2023 16:28:48",Tue,2023 16:28:48,9,May,13
368,"Sat, 6 May 2023 19:15:43",Sat,2023 19:15:43,6,May,13
595,"Mon, 10 Apr 2023 23:33:12",Mon,2023 23:33:12,10,Apr,13
622,"Thu, 6 Apr 2023 22:58:48",Thu,2023 22:58:48,6,Apr,13
726,"Sat, 25 Mar 2023 15:55:39 +0530 (GMT+05:30)",Sat,2023 15:55:39 +0530 (GMT+05:30),25,Mar,31
1138,"Tue, 7 Feb 2023 13:41:36",Tue,2023 13:41:36,7,Feb,13
1147,"Mon, 06 Feb 2023 19:35:47 GMT",Mon,2023 19:35:47 GMT,6,Feb,17
1153,"Mon, 6 Feb 2023 15:08:26",Mon,2023 15:08:26,6,Feb,13
1196,"Wed, 01 Feb 2023 13:31:07 GMT",Wed,2023 13:31:07 GMT,1,Feb,17
1293,"Sat, 21 Jan 2023 17:52:25 +0530 (INDIA)",Sat,2023 17:52:25 +0530 (INDIA),21,Jan,27
1297,"Sat, 21 Jan 2023 13:09:52 +0530 (INDIA)",Sat,2023 13:09:52 +0530 (INDIA),21,Jan,27
1300,"Fri, 20 Jan 2023 20:09:33 +0530 (INDIA)",Fri,2023 20:09:33 +0530 (INDIA),20,Jan,27
1430,"Fri, 6 Jan 2023 15:12:18",Fri,2023 15:12:18,6,Jan,13
1454,"Wed, 04 Jan 2023 13:38:40 GMT",Wed,2023 13:38:40 GMT,4,Jan,17
1509,"Fri, 30 Dec 2022 02:24:08 GMT",Fri,2022 02:24:08 GMT,30,Dec,17
1727,"Wed, 7 Dec 2022 17:35:29",Wed,2022 17:35:29,7,Dec,13
1982,"Sun, 13 Nov 2022 06:31:19 GMT",Sun,2022 06:31:19 GMT,13,Nov,17

In [17]:
email_data1['Time_1']=email_data1['Time'].apply(lambda x: x[6:13] if len(x)>8 else x)
email_data1[['Time','Time_1']].head(10)

                        Time   Time_1
0  2023 02:10:00 +0000 (UTC)  2:10:00
1        2023 17:20:39 -0700  7:20:39
2        2023 19:23:34 -0500  9:23:34
3        2023 13:26:28 +0530  3:26:28
4  2023 04:38:41 +0000 (UTC)  4:38:41
5  2023 03:35:22 +0000 (UTC)  3:35:22
6  2023 02:10:00 +0000 (UTC)  2:10:00
7  2023 16:04:13 +0000 (UTC)  6:04:13
8        2023 19:27:12 +0530  9:27:12
9        2023 18:01:50 +0530  8:01:50

In [18]:
email_data1[['Sender','Date_ext','Day','Time','Date','Month','Timelen']][email_data1['Sender']=='ticketadmin@irctc.co.in'].head(5)

,Sender,Date_ext,Day,Time,Date,Month,Timelen
155,ticketadmin@irctc.co.in,"Sat, 27 May 2023 09:49:34 +0530 (IST)",Sat,2023 09:49:34 +0530 (IST),27,May,25
491,ticketadmin@irctc.co.in,"Fri, 21 Apr 2023 17:13:32 +0530 (IST)",Fri,2023 17:13:32 +0530 (IST),21,Apr,25
591,ticketadmin@irctc.co.in,"Tue, 11 Apr 2023 14:20:59 +0530 (IST)",Tue,2023 14:20:59 +0530 (IST),11,Apr,25
708,ticketadmin@irctc.co.in,"Mon, 27 Mar 2023 20:31:35 +0530 (IST)",Mon,2023 20:31:35 +0530 (IST),27,Mar,25
765,ticketadmin@irctc.co.in,"Tue, 21 Mar 2023 20:03:16 +0530 (IST)",Tue,2023 20:03:16 +0530 (IST),21,Mar,25

In [19]:
email_data1[['Sender','Date_ext','Day','Time','Date','Month','Timelen']][email_data1['Sender']=='noreply.npcilcareers@nic.in']

,Sender,Date_ext,Day,Time,Date,Month,Timelen
461,noreply.npcilcareers@nic.in,25 Apr 2023 19:18:03 +0530,Tue,19:18:03,25,Apr,8
463,noreply.npcilcareers@nic.in,25 Apr 2023 18:45:48 +0530,Tue,18:45:48,25,Apr,8
523,noreply.npcilcareers@nic.in,18 Apr 2023 15:43:38 +0530,Tue,15:43:38,18,Apr,8
576,noreply.npcilcareers@nic.in,12 Apr 2023 19:07:15 +0530,Wed,19:07:15,12,Apr,8

In [20]:
email_data1['Time_1'].str.len().value_counts()

Time_1
7    1989
8      11
Name: count, dtype: int64

### A new column 'Time offset' is created, empty cells and 'GMT' cells data is updated accordingly

In [21]:
email_data1['Time_offset']= email_data1['Time'].apply(lambda x: x[14:20] if len(x)>8 else '+0000')
email_data1[['Time','Time_offset']].head(10)

                        Time Time_offset
0  2023 02:10:00 +0000 (UTC)      +0000
1        2023 17:20:39 -0700       -0700
2        2023 19:23:34 -0500       -0500
3        2023 13:26:28 +0530       +0530
4  2023 04:38:41 +0000 (UTC)      +0000
5  2023 03:35:22 +0000 (UTC)      +0000
6  2023 02:10:00 +0000 (UTC)      +0000
7  2023 16:04:13 +0000 (UTC)      +0000
8        2023 19:27:12 +0530       +0530
9        2023 18:01:50 +0530       +0530

In [22]:
email_data1['Time_offset'].str.len().value_counts()

Time_offset
5    1241
6     743
0      10
3       6
Name: count, dtype: int64

In [23]:
offset_len=[0,3]
email_data1[['Date_ext','Time','Time_1','Time_offset']][email_data1['Time_offset'].str.len().isin(offset_len)]

                           Date_ext               Time   Time_1 Time_offset
32         Thu, 8 Jun 2023 21:02:42      2023 21:02:42  1:02:42
45    Wed, 07 Jun 2023 11:06:26 GMT  2023 11:06:26 GMT  1:06:26         GMT
60         Tue, 6 Jun 2023 18:12:41      2023 18:12:41  8:12:41
328        Tue, 9 May 2023 16:28:48      2023 16:28:48  6:28:48
368        Sat, 6 May 2023 19:15:43      2023 19:15:43  9:15:43
595       Mon, 10 Apr 2023 23:33:12      2023 23:33:12  3:33:12
622        Thu, 6 Apr 2023 22:58:48      2023 22:58:48  2:58:48
1138       Tue, 7 Feb 2023 13:41:36      2023 13:41:36  3:41:36
1147  Mon, 06 Feb 2023 19:35:47 GMT  2023 19:35:47 GMT  9:35:47         GMT
1153       Mon, 6 Feb 2023 15:08:26      2023 15:08:26  5:08:26
1196  Wed, 01 Feb 2023 13:31:07 GMT  2023 13:31:07 GMT  3:31:07         GMT
1430       Fri, 6 Jan 2023 15:12:18      2023 15:12:18  5:12:18
1454  Wed, 04 Jan 2023 13:38:40 GMT  2023 13:38:40 GMT  3:38:40         GMT
1509  Fri, 30 Dec 2022 02:24:08 GMT  2022 02:24:08 GMT  2:24:08         GMT
1727       Wed, 7 Dec 2022 17:35:29      2022 17:35:29  7:35:29
1982  Sun, 13 Nov 2022 06:31:19 GMT  2022 06:31:19 GMT  6:31:19         GMT

In [24]:
email_data1['Time_offset']=email_data1['Time_offset'].apply(lambda x: x.replace('GMT','+0000'))
email_data1['Time_offset'].str.len().value_counts()

Time_offset
5    1247
6     743
0      10
Name: count, dtype: int64

In [25]:
#email_data1['Time_24hr_offset'] = email_data1.apply(lambda row: (datetime.strptime(row['Time_1'].strftime('%H:%M:%S'), '%H:%M:%S') + timedelta(hours=int(row['Time_offset'][:3]), minutes=int(row['Time_offset'][3:]))) if row['Time_offset'] else datetime.strptime(row['Time_1'].strftime('%H:%M:%S'), '%H:%M:%S'), axis=1)
#AttributeError: 'str' object has no attribute 'strftime'
email_data1['Time_24hr_offset'] = email_data1.apply(lambda row: (datetime.strptime(row['Time_1'], '%H:%M:%S') + timedelta(hours=int(row['Time_offset'][:3]), minutes=int(row['Time_offset'][3:]))) if row['Time_offset'] else datetime.strptime(row['Time_1'], '%H:%M:%S'), axis=1)
email_data1[['Time_1','Time_offset','Time_24hr_offset']].head(10)

    Time_1 Time_offset    Time_24hr_offset
0  2:10:00      +0000  1900-01-01 02:10:00
1  7:20:39       -0700 1900-01-01 00:20:39
2  9:23:34       -0500 1900-01-01 04:23:34
3  3:26:28       +0530 1900-01-01 08:56:28
4  4:38:41      +0000  1900-01-01 04:38:41
5  3:35:22      +0000  1900-01-01 03:35:22
6  2:10:00      +0000  1900-01-01 02:10:00
7  6:04:13      +0000  1900-01-01 06:04:13
8  9:27:12       +0530 1900-01-01 14:57:12
9  8:01:50       +0530 1900-01-01 13:31:50

In [26]:
email_data1['Time_24hr_offset'] = pd.to_datetime(email_data1['Time_24hr_offset'])
email_data1['Time_24hr_offset'] = email_data1['Time_24hr_offset'].dt.strftime('%H:%M:%S')
email_data1['Time_24hr_offset'].head(10)

0    02:10:00
1    00:20:39
2    04:23:34
3    08:56:28
4    04:38:41
5    03:35:22
6    02:10:00
7    06:04:13
8    14:57:12
9    13:31:50
Name: Time_24hr_offset, dtype: object

### Columns are checked again for uncertain data

In [27]:
email_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Sender            2000 non-null   object
 1   Sender Email      2000 non-null   object
 2   Date_ext          2000 non-null   object
 3   Firm              2000 non-null   object
 4   Email             1952 non-null   object
 5   noreply           2000 non-null   int64
 6   Day               2000 non-null   object
 7   Time              2000 non-null   object
 8   Date              2000 non-null   int32
 9   Month             2000 non-null   object
 10  Timelen           2000 non-null   int64
 11  Time_1            2000 non-null   object
 12  Time_offset       2000 non-null   object
 13  Time_24hr_offset  2000 non-null   object
dtypes: int32(1), int64(2), object(11)
memory usage: 211.1+ KB

### A new Column to distinguish part of the day mail recieved is created

In [28]:
email_data1['Parts_of_the_day'] = email_data1['Time_24hr_offset'].apply(get_part_of_day)
email_data1[['Time_24hr_offset','Parts_of_the_day']].head(10)

  Time_24hr_offset Parts_of_the_day
0         02:10:00            Night
1         00:20:39            Night
2         04:23:34            Night
3         08:56:28          Morning
4         04:38:41            Night
5         03:35:22            Night
6         02:10:00            Night
7         06:04:13          Morning
8         14:57:12        Afternoon
9         13:31:50        Afternoon

###  There are two approaches to create 'Year' column -

### 1. By finding row from which years change  2. By slicing 'Time' column . Since the string in 'Time' column is non-uniform we take the 1st approach.

In [29]:
email_data1[['Sender','Date_ext','Day','Date','Month']].iloc[1470:1500]

,Sender,Date_ext,Day,Date,Month
1470,"""Coursera"" <no-reply@m.mail.coursera.org>","Tue, 03 Jan 2023 08:22:10 +0000",Tue,3,Jan
1471,Riya Jain <riya.jain@email.codingblocks.com>,"Tue, 3 Jan 2023 08:10:54 +0000",Tue,3,Jan
1472,LinkedIn <jobs-listings@linkedin.com>,"Tue, 3 Jan 2023 07:21:40 +0000 (UTC)",Tue,3,Jan
1473,"""Adobe Acrobat"" <mail@mail.adobe.com>","Mon, 02 Jan 2023 19:10:20 -0800",Mon,2,Jan
1474,The DataCamp Team <team@datacamp.com>,"Tue, 03 Jan 2023 02:15:17 +0000",Tue,3,Jan
1475,"""Sylar Bui (DataCamp Support)"" <support@dataca...","Tue, 03 Jan 2023 02:14:52 +0000",Tue,3,Jan
1476,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,"Mon, 2 Jan 2023 20:52:42 +0000 (UTC)",Mon,2,Jan
1477,"""Coursera"" <no-reply@m.mail.coursera.org>","Mon, 02 Jan 2023 20:06:26 +0000",Mon,2,Jan
1478,"""University of Colorado Boulder"" <no-reply@m.m...","Mon, 02 Jan 2023 18:02:38 +0000",Mon,2,Jan
1479,EaseMyTrip <info@easemytrip.com>,"Mon, 02 Jan 2023 19:06:29 +0530",Mon,2,Jan
1480,LinkedIn <updates-noreply@linkedin.com>,"Mon, 2 Jan 2023 13:38:29 +0000 (UTC)",Mon,2,Jan
1481,NPTEL <onlinecourses@nptel.iitm.ac.in>,"Mon, 2 Jan 2023 17:34:25 +0530",Mon,2,Jan
1482,"""Tripadvisor"" <updates@mp1.tripadvisor.com>","Mon, 02 Jan 2023 08:44:14 +0000",Mon,2,Jan
1483,DataCamp Support <support@datacamp.com>,"Mon, 02 Jan 2023 07:01:50 +0000",Mon,2,Jan
1484,"""Varsha from Prosple"" <varsha@prosple.com>","Sun, 01 Jan 2023 16:27:48 -0600",Sun,1,Jan
1485,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,"Sun, 1 Jan 2023 20:46:29 +0000 (UTC)",Sun,1,Jan
1486,Team Scaler <hello@scaler.com>,"Sun, 01 Jan 2023 14:31:39 +0000 (UTC)",Sun,1,Jan
1487,Splitwise <hello@splitwise.com>,"Sun, 01 Jan 2023 12:11:34 +0000 (UTC)",Sun,1,Jan
1488,EaseMyTrip <info@easemytrip.com>,"Sun, 01 Jan 2023 10:12:16 +0530",Sun,1,Jan
1489,"""SpiceJet"" <spicejet@web-spicejet.com>","Sun, 01 Jan 2023 16:58:58 +0800",Sun,1,Jan
1490,"""Tripadvisor"" <updates@mp1.tripadvisor.com>","Sun, 01 Jan 2023 07:45:36 +0000",Sun,1,Jan
1491,Goibibo <noreply@content.goibibo.com>,"Sun, 1 Jan 2023 12:04:40 +0530",Sun,1,Jan
1492,"""Tripadvisor"" <updates@mp1.tripadvisor.com>","Sun, 01 Jan 2023 04:40:50 +0000",Sun,1,Jan
1493,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,"Sat, 31 Dec 2022 20:56:42 +0000 (UTC)",Sat,31,Dec
1494,Rapido Bike Taxi <hello@updates.rapido.bike>,"Sat, 31 Dec 2022 12:12:14 +0000 (UTC)",Sat,31,Dec
1495,LinkedIn <messages-noreply@linkedin.com>,"Sat, 31 Dec 2022 11:33:21 +0000 (UTC)",Sat,31,Dec
1496,EaseMyTrip <info@easemytrip.com>,"Sat, 31 Dec 2022 11:08:27 +0530",Sat,31,Dec
1497,"""Adobe Acrobat"" <mail@mail.adobe.com>","Fri, 30 Dec 2022 19:34:04 -0800",Fri,30,Dec
1498,"""Tripadvisor"" <updates@mp1.tripadvisor.com>","Sat, 31 Dec 2022 00:43:22 +0000",Sat,31,Dec
1499,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,"Fri, 30 Dec 2022 20:48:35 +0000 (UTC)",Fri,30,Dec

In [30]:
email_data1['Year'] = email_data1.reset_index().apply(lambda row: 2023 if row['index'] <= 1493 else 2022, axis=1)
email_data1[['Sender','Time','Time_24hr_offset','Year']].head(10)

,Sender,Time,Time_24hr_offset,Year
0,Medium Daily Digest <noreply@medium.com>,2023 02:10:00 +0000 (UTC),02:10:00,2023
1,"""Adobe Acrobat"" <mail@mail.adobe.com>",2023 17:20:39 -0700,00:20:39,2023
2,"""Varsha from Prosple"" <varsha@prosple.com>",2023 19:23:34 -0500,04:23:34,2023
3,Goibibo <noreply@content.goibibo.com>,2023 13:26:28 +0530,08:56:28,2023
4,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,2023 04:38:41 +0000 (UTC),04:38:41,2023
5,upGrad <info@updates.upgrad.com>,2023 03:35:22 +0000 (UTC),03:35:22,2023
6,Medium Daily Digest <noreply@medium.com>,2023 02:10:00 +0000 (UTC),02:10:00,2023
7,Gaucho - Buenos Aires <hello@gauchobuenosaires...,2023 16:04:13 +0000 (UTC),06:04:13,2023
8,cbssbi.cas@alerts.sbi.co.in,2023 19:27:12 +0530,14:57:12,2023
9,EaseMyTrip <info@easemytrip.com>,2023 18:01:50 +0530,13:31:50,2023

### A new column to distinguish Months of the year id created. Looks like there were false data retrieved. The respective rows were removed.

In [31]:
email_data1['Month_year']= email_data1['Month'].map(str)+' '+email_data1['Year'].astype(str)
email_data1['Month_year'].head(10)

0    Jun 2023
1    Jun 2023
2    Jun 2023
3    Jun 2023
4    Jun 2023
5    Jun 2023
6    Jun 2023
7    Jun 2023
8    Jun 2023
9    Jun 2023
Name: Month_year, dtype: object

In [32]:
email_data1['Month_year'].value_counts()

Month_year
May 2023    303
Dec 2022    297
Jan 2023    291
Feb 2023    279
Mar 2023    256
Apr 2023    248
Nov 2022    209
Jun 2023    115
Nov 2023      1
Dec 2023      1
Name: count, dtype: int64

In [33]:
ambig_month=['Nov 2023','Dec 2023']
email_data1[['Sender','Date_ext','Time_24hr_offset','Month_year']][email_data1['Month_year'].isin(ambig_month)]

,Sender,Date_ext,Time_24hr_offset,Month_year
564,YouTube <no-reply@youtube.com>,"Fri, 26 Nov 2021 22:16:25 -0800",18:16:25,Nov 2023
1493,LinkedIn Job Alerts <jobalerts-noreply@linkedi...,"Sat, 31 Dec 2022 20:56:42 +0000 (UTC)",00:56:42,Dec 2023

In [34]:
email_data1=email_data1.drop([564,1493])
email_data1[['Sender','Date_ext','Time_24hr_offset','Month_year']].iloc[560:566]

,Sender,Date_ext,Time_24hr_offset,Month_year
560,GeeksforGeeks <no-reply@geeksforgeeks.org>,"Fri, 14 Apr 2023 10:15:23 +0000",00:15:23,Apr 2023
561,LinkedIn <jobs-listings@linkedin.com>,"Fri, 14 Apr 2023 09:28:58 +0000 (UTC)",09:28:58,Apr 2023
562,Amazon Business <no-reply@business.amazon.in>,"Fri, 14 Apr 2023 09:21:58 +0000",09:21:58,Apr 2023
563,"""Varsha from Prosple"" <varsha@prosple.com>","Thu, 13 Apr 2023 18:12:46 -0500",03:12:46,Apr 2023
565,Goibibo <noreply@content.goibibo.com>,"Thu, 13 Apr 2023 21:31:38 +0530",07:01:38,Apr 2023
566,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...,"Thu, 13 Apr 2023 13:44:03 +0000",03:44:03,Apr 2023

### 'Firm' column is checked. The unique name's list shows unusual names which are replaced to show clean and meaningful data

In [35]:
email_data1['Firm'].info()

<class 'pandas.core.series.Series'>
Index: 1998 entries, 0 to 1999
Series name: Firm
Non-Null Count  Dtype
--------------  -----
1998 non-null   object
dtypes: object(1)
memory usage: 31.2+ KB

In [36]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns',None)
email_data1['Firm'].value_counts()

Firm
LinkedIn                                                                                                                                                           189
Coursera                                                                                                                                                           170
EaseMyTrip                                                                                                                                                         151
Goibibo                                                                                                                                                            123
upGrad                                                                                                                                                             112
LinkedIn Job Alerts                                                                                                                                                102
Varsha from Prosple                                                                                                                                                 83
NPTEL                                                                                                                                                               77
Tripadvisor                                                                                                                                                         74
Team Scaler                                                                                                                                                         58
Myprotein                                                                                                                                                           55
Amazon Business                                                                                                                                                     45
Uber                                                                                                                                                                41
SpiceJet                                                                                                                                                            26
Adobe Acrobat                                                                                                                                                       24
YONO SBI                                                                                                                                                            23
IndiGo                                                                                                                                                              23
HDFC Bank                                                                                                                                                           22
Google Calendar                                                                                                                                                     21
DataCamp                                                                                                                                                            20
Gaucho - Buenos Aires                                                                                                                                               18
GeeksforGeeks                                                                                                                                                       17
=?UTF-8?B?TGlua2VkSW4=?=                                                                                                                                            16
ticketadmin@irctc.co.in                                                                                                                                             15
Netflix                                                                                                                                                             14
HackerRank Team                                                                                                                                                     13
JAIPUR MADEEASY                                                                                                                                                     12
BSNL Care -NZ                                                                                                                                                       12
IRCTC eCatering                                                                                                                                                     10
Uber Receipts                                                                                                                                                       10
Riya Jain                                                                                                                                                            9
Splitwise                                                                                                                                                            9
=?UTF-8?B??=                                                                                                                                                         8
Decathlon India                                                                                                                                                      8
MADE EASY                                                                                                                                                            8
cbssbi.cas@alerts.sbi.co.in                                                                                                                                          8
                                                                                                                                                                     7
Mohit Jain via LinkedIn                                                                                                                                              7
Google Maps Timeline                                                                                                                                                 7
DataCamp Insights                                                                                                                                                    7
University of Michigan                                                                                                                                               7
Google                                                                                                                                                               7
Google Local Guides                                                                                                                                                  7
Niantic                                                                                                                                                              7
The DataCamp Team                                                                                                                                                    6
=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0=A4=BE=E0=A4=A8_=E0=A4=95?=\r\n =?utf-8?q?=E0=A4=BE_=E0=A4=AA=E0=A4=BF=E0=A4=9F=E0=A4=BE=E0=A4=B0=E0=A4=BE?=\r\n       6
Quora                                                                                                                                                                6
Rapido Bike Taxi                                                                                                                                                     6
Rahul - Decathlon Product Review Leader                                                                                                                              5
eCom                                                                                                                                                                 5
Ferns N Petals                                                                                                                                                       5
FabHotels                                                                                                                                                            5
Quantium (Forage)                                                                                                                                                    5
YouTube                                                                                                                                                              5
BAJAAO.COM                                                                                                                                                           5
neftinfo.itps@alerts.sbi.co.in                                                                                                                                       5
Amanda at DataCamp                                                                                                                                                   5
FitnessByDaanish                                                                                                                                                     4
noreply.npcilcareers@nic.in                                                                                                                                          4
Cleartrip                                                                                                                                                            4
Medium Daily Digest                                                                                                                                                  4
trivago                                                                                                                                                              4
Introduction to Data Analytics                                                                                                                                       4
NASA Mars                                                                                                                                                            4
Sylar Bui (DataCamp Support)                                                                                                                                         4
BSNL SUPPORT                                                                                                                                                         3
=?utf-8?Q?Fastrack=20Eyewear?=                                                                                                                                       3
Pratiksha Rajkumar Babaleshwar                                                                                                                                       3
Google Pay                                                                                                                                                           3
Upwork                                                                                                                                                               3
=?UTF-8?B?UGhvbmVQZQ==?=                                                                                                                                             3
ASICS                                                                                                                                                                3
University of Colorado Boulder                                                                                                                                       3
Dominos India                                                                                                                                                        3
No-reply                                                                                                                                                             3
DataCamp Support                                                                                                                                                     3
Forage                                                                                                                                                               3
Anoj Viswanathan                                                                                                                                                     3
ship-confirm@ajio.com                                                                                                                                                3
The Google Account Team                                                                                                                                              3
Airbus via LinkedIn                                                                                                                                                  3
PRECIOUS METALS DEPARTMENT                                                                                                                                           3
Payments                                                                                                                                                             2
6EGSTInvoice@goindigo.in                                                                                                                                             2
hod.me@rvce.edu.in                                                                                                                                                   2
AdaniOne                                                                                                                                                             2
Unikaksha                                                                                                                                                            2
Google Maps                                                                                                                                                          2
Coursera Market Research                                                                                                                                             2
Internshala                                                                                                                                                          2
Twitter                                                                                                                                                              2
bsnlcare@ndc.bsnl.co.in                                                                                                                                              2
Agoda                                                                                                                                                                2
Anand Geethagovindan                                                                                                                                                 2
service@intl.paypal.com                                                                                                                                              2
Bright Industries                                                                                                                                                    2
Nike                                                                                                                                                                 2
pratiksha-rajkumar.babaleshwar@airbus.com                                                                                                                            2
Mohit Lulla                                                                                                                                                          2
Bajaao Connect                                                                                                                                                       2
DELL India                                                                                                                                                           2
Anoj V                                                                                                                                                               2
Ganeshraj (via LinkedIn)                                                                                                                                             2
Ganeshraj Sirasangi                                                                                                                                                  2
IBM                                                                                                                                                                  2
Kaggle                                                                                                                                                               2
Medium                                                                                                                                                               2
GitHub                                                                                                                                                               2
Aditya Peddireddy                                                                                                                                                    1
Coding Blocks                                                                                                                                                        1
Meghana Rangarajan via LinkedIn                                                                                                                                      1
Dr. Abha Vyas                                                                                                                                                        1
DO NOT REPLY                                                                                                                                                         1
Dhruv Mehta                                                                                                                                                          1
Join Indian Navy                                                                                                                                                     1
Nachiket Kakatkar via LinkedIn                                                                                                                                       1
Emily Gahan (DataCamp Support)                                                                                                                                       1
noreply-parivahan@gov.in                                                                                                                                             1
Viren Pai                                                                                                                                                            1

In [37]:
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'LinkedIn' if 'LinkedIn' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Google' if 'Google' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Amazon' if 'amazon' in x.lower() else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Ajio' if 'ajio' in x.lower() else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'SBI' if 'sbi' in x.lower() else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Datacamp' if 'datacamp' in x.lower() else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'IRCTC' if 'irctc' in x.lower() else x)
#email_data1['Firm'].value_counts()

In [38]:
unknown_name=['=?UTF-8?B?TGlua2VkSW4=?=','=?UTF-8?B??= ','=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0=A4=BE=E0=A4=A8_=E0=A4=95?=\r\n =?utf-8?q?=E0=A4=BE_=E0=A4=AA=E0=A4=BF=E0=A4=9F=E0=A4=BE=E0=A4=B0=E0=A4=BE?=\r\n ','=?UTF-8?B?UGhvbmVQZQ==?= ','=?utf-8?Q?Fastrack=20Eyewear?=  ','=?utf-8?Q?MBAROI.in?=','=?UTF-8?B?UGF5dG0gT2ZmZXJz?= ','=?UTF-8?Q?Sona_N_B_?= =?UTF-8?Q?_=E3=80=80=E3=82=BD=E3=83=8A?=\r\n =?UTF-8?Q?_=E3=80=80=E3=83=B3=E3=80=80=E3=83=93?=\r\n']
email_data1[['Sender Email','Firm']][email_data1['Firm'].isin(unknown_name)]

,Sender Email,Firm
186,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...
441,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
442,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
443,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
444,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
445,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
446,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
484,noreply@phonepe.com,=?UTF-8?B?UGhvbmVQZQ==?=
566,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...
610,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
627,noreply@paytmoffers.in,=?UTF-8?B?UGF5dG0gT2ZmZXJz?=
650,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...
666,noreply@phonepe.com,=?UTF-8?B?UGhvbmVQZQ==?=
695,noreply@phonepe.com,=?UTF-8?B?UGhvbmVQZQ==?=
889,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...
1101,cbsalerts.sbi@alerts.sbi.co.in,=?UTF-8?B??=
1328,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...
1978,hindi-personalized-digest@quora.com,=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...

In [39]:
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'SBI' if '=?UTF-8?B??=' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Quora' if '=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0...' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Phonepe' if '=?UTF-8?B?UGhvbmVQZQ==?=' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'LinkedIn' if '=?UTF-8?B?TGlua2VkSW4=?=' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'Quora' if '=?utf-8?q?Quora_=E0=A4=9C=E0=A5=8D=E0=A4=9E=E0=A4=BE=E0=A4=A8_=E0=A4=95?=\r\n =?utf-8?q?=E0=A4=BE_=E0=A4=AA=E0=A4=BF=E0=A4=9F=E0=A4=BE=E0=A4=B0=E0=A4=BE?=\r\n ' in x else x)
email_data1['Firm']=email_data1['Firm'].apply(lambda x: 'LinkedIn' if 'Sona_N_B_' in x else x)
email_data1['Firm'].value_counts().head(15)

Firm
LinkedIn                342
Coursera                170
EaseMyTrip              151
Goibibo                 123
upGrad                  112
Varsha from Prosple      83
NPTEL                    77
Tripadvisor              74
Team Scaler              58
Myprotein                55
Google                   53
SBI                      49
Amazon                   46
Datacamp                 46
Uber                     41
Name: count, dtype: int64

### For Data Visualization, a separate dataframe is created and both are saved as csv file

In [40]:
email_data2=email_data1[['Firm','Sender Email','Day','Date','Month','Year','Time_24hr_offset','Parts_of_the_day','noreply','Month_year']]
email_data2.head()

,Firm,Sender Email,Day,Date,Month,Year,Time_24hr_offset,Parts_of_the_day,noreply,Month_year
0,Medium Daily Digest,noreply@medium.com,Mon,12,Jun,2023,02:10:00,Night,1,Jun 2023
1,Adobe Acrobat,mail@mail.adobe.com,Sun,11,Jun,2023,00:20:39,Night,0,Jun 2023
2,Varsha from Prosple,varsha@prosple.com,Sun,11,Jun,2023,04:23:34,Night,0,Jun 2023
3,Goibibo,noreply@content.goibibo.com,Sun,11,Jun,2023,08:56:28,Morning,1,Jun 2023
4,LinkedIn,jobalerts-noreply@linkedin.com,Sun,11,Jun,2023,04:38:41,Night,1,Jun 2023

In [41]:
#email_data2 to csv
email_data2
email_data2.to_csv("email_data2_2k_cleaned.csv")

In [42]:
#email_data1.to_csv("email_data_cleaned.csv")
email_data1
email_data1.to_csv("email_data_2k_cleaned.csv")